body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: lightgray;
}

.box {
    width: 300px;
    padding: 50px;
    border: 15px solid blue;
    margin: 20px;
    background-color: lightblue;
    color: black;
    text-align: center;
    font-family: Arial, sans-serif;
}
